#gridAndGuessLogAndInput {
  display: flex;
}

#guessLogAndInput {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#content {
  margin-left: 18rem;
  margin-top: 7rem;
  display: flex;
}